{% extends "base.html" %}

{% block content %}

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_username">用户名</label>
            <input name="username" id="id_username" class="form-control" placeholder="请输入用户名" maxlength="254" autofocus="" required="" type="text">
            <span class="helptext"></span>
            <ul>
                <li>用户名需小于150个字符。</li>
                <li>用户名可以使用汉字、字母、数字和部分符号(@/./+/-/_)。</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="control-label" for="id_password1">密码</label>
            <input id="id_password1" name="password1" placeholder="请输入密码" class="form-control" required="" type="password">
        <span class="helptext"></span>
        <ul>
            <li>你的密码不能与其他个人信息太相似。</li>
            <li>你的密码必须包含至少 8 个字符。</li>
            <li>你的密码不能是大家都爱用的常见密码。</li>
            <li>你的密码不能全部为数字。</li>
        </ul>
        </div>


        <div class="form-group">
            <label class="control-label" for="id_password2">确认密码</label>
            <input id="id_password2" name="password2" placeholder="请再次输入密码" class="form-control" required="" type="password">
            <span class="helptext"></span>
            <ul>
                <li>为了校验，请输入与上面相同的密码。</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="control-label" for="id_email">邮箱</label>
            <input id="id_email" name="email" placeholder="请输入邮箱" class="form-control" type="email" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue; this.style.color='#999'}" style="color:#999">
            <span class="helptext"></span>
        <ul>
            <li>邮箱可以不填。</li>
        </ul>
        </div>

        <button id="register" class="btn btn-primary" name="submit">注册</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>

    <br/>
        {% autoescape off %}
        {{ error_register }}
        {{ successful }}
        {% endautoescape %}

{% endblock content %}