{% extends "base.html" %}

{% block header %}
  <h1>留言板</h1>
{% endblock %}

{% block content %}

<ul class="list-unstyled">
  {% for message_board in message_board_list reversed %}
  <li>
    <div>
      #{{forloop.revcounter}}
    </div>
    <time class="submit-date">{{ message_board.created_time }}</time>
    <span class="nickname"> - <b>{{ message_board.name }}</b></span>
    <div class="text">
      {{ message_board.text }}
      <hr/>
    </div>
  </li>
  {% empty %}
  <h4>现在还没有任何留言</h4>
  {% endfor %}
</ul>

<br/>

<div style="width:350px;margin:0 auto;">
<form action="{% url 'message_board:message_board' %}" method="post">
  {% csrf_token %}
  <label for="id_name">昵称：</label>
      <br>
      <input name="name" maxlength="100" required="" id="id_name" type="text" class="form-control">
      <label for="id_text">留言：</label>
      <br/>
      <textarea name="text" cols="40" rows="10" required="" id="id_text" class="form-control" style="height:150px;"></textarea>
      <br/>
      <button id="message" type="submit" class="button button-rounded button-inverse">发表</button>
  </form>    <!-- row -->
</div>
{% endblock content %}
