{% extends 'base.html' %}

{% block header %}
<h1><a href="{% url 'learning_logs:topics' %}" style="color:black;text-decoration:none;vertical-align:middle" onmouseover="this.style.text-decoration=none">{{ topic }}</a></h1>
          <!--
          <div class="btn-group">
          -->
              <button type="button" class="button button-rounded button-inverse" href="{% url 'learning_logs:new_entry' topic.id %}" data-toggle="modal" data-target="#new_entry" id="new_entry1">添加内容</button>
              <!--
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">切换下拉菜单</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li>
                      <a href="{% url 'learning_logs:new_entry2' topic.id %}">旧版添加页面</a>
                  </li>
              </ul>
          </div>
          -->

              <div class="modal fade" id="new_entry" tabindex="-1" role="dialog" aria-labelledby="new_entry" aria-hidden="true" style="top:13%;left:3%;">
                  <div class="modal-dialog" style="width:700px">
                      <div class="modal-content"></div>
                  </div>
              </div>

{% endblock header %}

{% block content %}

  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <a data-toggle="collapse" data-parent="#accordion"
                href="#{{ entry.id }}" style="color:black;text-decoration:none;vertical-align:middle" onmouseover="this.style.text-decoration=none">
          {{ entry.date_added|date:'Y-m-d D H:i' }}
          </a>
            <!--
            <a href="{% url 'learning_logs:del_entry' entry.id %}">
              删除</a>
              -->
                <!--
                <div class="btn-group">
                -->
                    <!--
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">切换下拉菜单</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{% url 'learning_logs:edit_entry2' entry.id %}">旧版修改页面</a>
                        </li>
                    </ul>
                </div>
                -->

                <div class="modal fade" id="edit_entry" tabindex="-1" role="dialog" aria-labelledby="edit_entry" aria-hidden="true" style="top:13%;left:3%;">
                    <div class="modal-dialog" style="width:700px">
                        <div class="modal-content"></div>
                    </div>
                </div>
        </h3>
      </div>

       <div id="{{ entry.id }}" class="panel-collapse collapse">
        <div class="panel-body">
        <h3>
          {{ entry.title }}
        </h3>
        <hr/>
            <div style="max-width:600px;margin: 0 auto;text-align:left;">
        {% autoescape off %}
        {{ entry.text|linebreaks }}
        {% endautoescape %}
            </div>
        <button type="button" class="button button-tiny" href="{% url 'learning_logs:edit_entry' entry.id %}" data-toggle="modal" data-target="#edit_entry">修改</button>
      </div>
       </div>
    </div> <!-- panel -->


  {% empty %}
    该主题目前没有添加内容
  {% endfor %}

{% endblock content %}
